{% load static %}

{% for post in posts %}
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="single.html"><img src="../media/{{post.pic}}" alt="{{post.title}}" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="single.html">{{post.title}}</a></span>
		<h2 class="fh5co-article-title"><a href="single.html">{{post.texto|truncatechars:40}}</a></h2>
		<span class="fh5co-meta fh5co-date">{{post.published_date|date:'F d, o'}}</span>
	</article>
	{% if forloop.counter|divisibleby:4 %}
        <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>
    {% endif %}
{% endfor %}